/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

body:after {
  content: "";
  background-image: url('https://s3-us-west-2.amazonaws.com/wildearthproductions/backdrop_colour.png');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body#home-page {
  background-color: #FFF;
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 100px;
}

body#home-page img {
  margin-bottom: 0.1em;
}

.top-bar {
  background-color: #83755D;
}

section#page {
  margin: 0.5em;
}

section.top-bar-section li:not(.has-form) a:not(.button) {
   background-color: #83755D;
   font-size: 1.1em;
}

section.top-bar-section li:not(.has-form) a:not(.button):hover {
   background-color: #786B53;
   color: #A4D263;
}

h1#logo {
	padding: 0.5em;
  text-align: center;
}
